/*! normalize.css v1.1.0 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

canvas {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/*
End normalize.css
*/

/*
==============================================
Indy Map styles
@author Struan King
==============================================
*/
@font-face {
    font-family: 'Fedora';
    src: url('../fonts/SF Fedora.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FedoraTitle';
    src: url('../fonts/SF Fedora Titles.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 90%;
  background: #343B23;
}

header {
  position: relative;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  font-size: 75%;
}
header h1 {
  color: #FF9000;
  font: normal 400%/1.2 "Fedora", sans-serif;
  text-shadow: 4px 4px #000;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(-3deg);
}
header h2 {
  position: relative;
  top: -0.6rem;
  left: 1.8rem; 
  color: #f4f117;
  font: normal 160%/1.2 "FedoraTitle", sans-serif;
  text-align: center;
  text-shadow: 3px 3px #000;
  letter-spacing: -1px;
  margin: 0.2rem 0 0;
  padding: 0;
}
header span {
  display: block;
  text-indent: -7.5rem;
}

#map-container {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: #E9D79D;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: 400ms ease;
}
#map-container.small-map {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: 600ms ease;
}

#map {
  height: 400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(225, 225, 225, 0.05);
}
#map,
#map>div>div>div>div {
  border-radius: 12px;
}

.no-js #indy-travel {
  visibility: hidden;
}
#indy-travel {
  width: 250px;
  height: 100%;
  margin: 0 auto;
  padding: 0.2rem 0.2rem 0.5rem;
}
#indy-travel fieldset {
  margin: 0;
  border: 0;
}
#indy-travel input {
  width: 8.5rem;
  margin: 0.5rem 0.2rem 0 0;
  border: solid 2px #333;
  border-radius: 16px;
  line-height: 1.6;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6);
  background: #CCC;
  color: #111;
  padding: 2px 10px 2px 10px;
}
#indy-travel input:focus {
  background: #FFF;
  outline: none;
}
#indy-travel p {
  padding-left: 0.8em;
}
label {
  display: none;
}

/* Button styles */
button {
  background: -webkit-linear-gradient(top, #999 30%, #666 100%);
  background: -moz-linear-gradient(top, #999 30%, #666 100%);
  color: #FFF;
  margin: 0;
  padding: 0.3rem 0.5rem;
  border-radius: 16px;
  border: none;
  font-size: 95%;
  font-weight: normal;
  box-shadow: 1px 1px 2px #111;
  text-shadow: 1px 1px 2px #000;
}
button:hover {
  box-shadow: 3px 3px 5px #222;
  background: -webkit-linear-gradient(top, #999 10%, #555 100%);
  background: -moz-linear-gradient(top, #999 10%, #555 100%);
}
.build-route,
.another-route {
  background: -webkit-linear-gradient(top, #8BABC9 20%, #688197 100%);
  background: -moz-linear-gradient(top, #8BABC9 20%, #688197 100%);
  margin-right: 0.8rem;
}
.build-route:hover,
.another-route:hover {
  background: -webkit-linear-gradient(top, #8BABC9 10%, #588197 100%);
  background: -moz-linear-gradient(top, #8BABC9 10%, #588197 100%);
}
.add-location {
  background: -webkit-linear-gradient(top, #7D976C 30%, #536B48 100%);
  background: -moz-linear-gradient(top, #7D976C 30%, #536B48 100%);
  margin: 0 0.5rem;
}
.add-location:hover {
  background: -webkit-linear-gradient(top, #7D976C 10%, #536B48 100%);
  background: -moz-linear-gradient(top, #7D976C 10%, #536B48 100%);
}
.remove-location {
  background: -webkit-linear-gradient(top, #BF810A 40%, #7A4524 100%);
  background: -moz-linear-gradient(top, #BF810A 40%, #7A4524 100%);
}
.remove-location:hover {
  background: -webkit-linear-gradient(top, #BF810A 20%, #7A4524 100%);
  background: -moz-linear-gradient(top, #BF810A 20%, #7A4524 100%);
}
.add-location,
.remove-location,
.clear-field {
  width: 1.4rem;
  height: 1.4rem;
  line-height: 0.8;
}
.clear-field {
  margin-left: -2.2rem;
  margin-right: 0.2rem;
  background: #CCC;
  opacity: 0.6;
  color: #FFF;
  box-shadow: none;
  text-shadow: 1px 1px 0px #333;
}
.clear-field:hover {
  background: #E33;
  box-shadow: none;
}
.another-route {
  position: absolute;
  top: 0.4rem;
  left: 0.2rem;
  z-index: 100;
}

/* Messages */
.no-js #map p {
  font-size: 150%;
  color: #EEE;
  text-align: center;
}

.optimal-setting {
  display: none;
}

/* Larger displays */
@media only screen and (min-width: 768px) {
  html {
    background: url(../images/bg.jpg) transparent 30% 140% no-repeat;
    background-color: rgb(0, 0, 0);
  }
  body {
    background: none;
    background: rgba(0, 0, 0, 0.2);
  }

  header {
    width: 780px;
    left: 250px;
    padding-top: 2rem;
    font-size: 100%;
  }

  #map-container {
    left: 0;
    z-index: 0;
    background: none;
  }

  #map {
    position: absolute;
    top: 10rem;
    left: 280px;
    height: 480px;
    width: 780px;
    border: solid 4px #E9D79D;
    border-radius: 6px;
  }

  #indy-travel {
    position: absolute;
    top: 8rem;
    left: 25px;
    z-index: 10;
    width: 240px;
    height: 100%;
    padding: 2rem 0.5rem;
  }
  .add-location {
    text-indent: -0.1rem;
  }
  .another-route {
    display: none;   
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html, body {
    font-size: 70%;
    width: 320px;
  }
  header {
    padding-bottom: 0;
  }
  header span {
    display: inline;
  }
  form,
  fieldset {
    margin: 0;
    padding: 0;
  }
  .optimal-setting {
    display: block;
    position: absolute;
    top: 5rem;
    right: 0.5rem;
    width: 80px;
    color: #EEE;
    background: rgb(10, 10, 10);
    background: rgba(10, 10, 10, 0.5);
    padding: 0.5rem;
    border-radius: 6px;
  }
}