<label>Destination: </label>
<input type="text" value="<%= name %>" placeholder="Enter a location"/>
<button class="clear-field">x</button>
<button class="add-location">+</button>
<button class="remove-location">-</button>