<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <title>Travel round the world like Indiana Jones</title>
  
  <!-- build:css assets-<%= pkg.release %>/css/indy.min.css -->
  <link rel="stylesheet" href="assets/css/journey.css"/>
  <!-- endbuild -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  
  <!-- build:js assets-<%= pkg.release %>/js/lib/vendor/require.js" data-main="assets-<%= pkg.release %>/js/main -->
  <script data-main="assets/js/main" src="assets/js/lib/vendor/require.js"></script>
  <!-- endbuild -->
  </head>
  
  <body>

    <div id="indyapp">
      
      <header role="banner">
        <h1>Travel by map</h1>
        <h2><span>Get around the world</span> like Indiana Jones</h2>
      </header>

    </div>

  </body>
</html>
